// navBar
.header-search {
		position: absolute;
		width: 100%;
		div.input-field {
			position: relative;
			z-index: 2;

		}
}
nav {
	transition: all .25s ease;
}

// side-nav
.side-nav {
	li {
		width: 100%;
	}
}

.nav-user {
  height: 56px;
  margin-bottom: 0;
  img {
  	padding: 5px;
  }
	i {
		font-size: 100%;
		margin: auto;
		width: auto;
	}
}
@media only screen and (min-width: 601px) {
	.nav-user {
	  height: 64px;
	}
}



// screen min width
header, main, footer, .nav-wrapper, #main {
	min-width: 320px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
	.nav-wrapper {
		width: 100%;
	}
}
.navbar-fixed {
	z-index: 997;
}

.main-content {
	max-width: 1200px;
	margin: auto;
}

/* floating button*/


.fixed-action-btn {
	bottom: 45px;
	right: 24px;
	ul {
	  // bottom: 55px;
	}
	.btn-large{ 
		span {
			opacity: 0;
		}
		i {
			transition: all .25s ease;
			transform: rotate(-360deg);
		}
	}
	&.active .btn-large i{
		transform: rotate(0deg);
	}
}
.btn-large.active-tip span{
	right: 70px;
}
.active-tip {
	overflow: visible;
	span{
	  position: absolute;
	  background-color: rgba(0, 0, 0, 0.8);
	  right: 60px;
	  width: 100px;
	  border-radius: 3px;
	  height: 30px;
	  vertical-align: middle;
	  line-height: 30px;
	  text-transform: none;
	  top: 50%;
	  margin-top: -15px;
	}
}


#submit{
	position: absolute;
	left: -9999px;
}